.front-page {

	.category-link {
		border-bottom: 2x solid $whitesmoke;
	}

	.category-link:hover {
		border-bottom: 2px solid $linen;
	}

	.latest-added {
		display: inline-block;
		font-size: 2rem;
		border-bottom: 4px solid $lavender;
	}

	.card {
		border: 0px;
	}

	.card-body {
		padding: 1rem 0px;
	}

	.card-img-top {
		width: 100%;
		min-height: 35vh;
		object-fit: cover;
	}

	.blog-post-title {

		border-bottom: 4px solid $linen;
		font-size: 1rem;
		display: inline-block;
		font-weight: 300;

	}

}

.header-text {

	font-family: 'Ubuntu', sans-serif;
	font-size: 5rem;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.44);

}


