.recipes-header {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

}

.single-page {

	a:hover {
		border-bottom: 3px solid $linen;
	}

	h4 {
		font-family: 'Heebo', sans-serif;
		font-weight: 700;
		display: inline-block;
	}

	dt {
		font-size: 1.4rem;
	}


}
