.recipes-header {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

h4 .instructions {
	border-bottom: 4px solid $lavender;
	display: inline;
}

.entry-meta .categories {

	.categories a {
		color: black;
	}
}
