// Styling for Cards (exclude front page)

.cards-section {

	.card {
		border: 0px;
	}

	.card-body {
		padding: 0 0 1rem 0;
	}

	.card-img-top {
		width: 100%;
		min-height: 40vh;
		object-fit: cover;
	}

	.blog-post-title {
		border-bottom: 4px solid $linen;
		font-size: 1rem;
		display: inline-block;
		font-weight: 300;

	}

}
